.blogHeader {
    background-image: url(../../assets/blog-header.jpg);
    height: 80vh;
    margin-bottom: 100px;
}

.blogTitle {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}