.blogPost {
    border-left: 2px solid $robinEggBlue;
    border-bottom: 2px solid $robinEggBlue;
}

.blogPostImg {
    position: relative;
    top: -65px;
    right: -19px;

    img {
        box-shadow: -21px 21px 0 $robinEggBlue;
    }
}

.blogContent {
    text-align: left;
    padding: 0 0 5px 20px;
    
    h3 {
        text-align: left;
        margin: 0;
    }
}

.dateName { 
        margin-top: 5px;
        text-transform: capitalize;
    }