// * {
//     border: 1px solid lightcoral;
// }

body {
    background: #0c1423;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: none;
    margin: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 6.5rem;
    line-height: 6rem;
    padding: 50px;
    text-align: left;
    margin: 0;
}

h2 {
    font-size: 8rem;
    line-height: 9.2rem;
}

h3 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

h4 {
    font-size: 2rem;
    letter-spacing: 1px;
}


nav a {
    font-size: 3.2rem;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 1px;
}

button {
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 1px;
    padding: .5rem 1.5rem;
    border: none;
}
