.contactHeader {
    background: url(../../assets/contact-header.jpg) center/cover;
    height: 55vh;
    margin-bottom: 10%;
    .mobileMenu{
        padding: 2%;
    }
}

.contactTitle {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}