.exhibits{
    background-color: $spruce;
    padding-bottom: 10%;

    .exhibitFlex1{
        text-align: left;
        margin-bottom: 5%;
        img{
            box-shadow: 20px 20px 0 $robinEggBlue;
            position: relative;
            top:-25px;
            left:-6%;
        }
    }

    .exhibitFlex2{
        h4{
            text-align: right;
        }
        text-align: right;
        img{
            box-shadow: -20px 20px 0  $robinEggBlue;
            position: relative;
            right:-6%;
        }
    }


    button{
        background-color: $darkBlueGrey;
        color: #FFF;
        &:hover,
        &:focus{
            background-color: $robinEggBlue;
        }
            
    }

  
}