header {
    background: url(../../assets/header-image.jpg) center/cover;
    height: 80vh;
    margin-bottom: 100px;

    img {
    position: relative;
    right: -6%;
    }

    .mobileMenu{
        padding: 2%;
    }

}


