.infoFlex{
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-right:20px;
    .infoIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #86e0f9;
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 50%;
        margin-top: 20px;
        i{
            color: #0c1423;
        }
    }
    .infoContent{
        margin-left: 15px;
    }
}