
@media(min-width:767px){
    h1{
        width: 40%;
    }

    h3{
        font-size:3rem;
    }

    h4{
        font-size:2.5rem
    }

    .blogPostImg{
        top:-100px;
    }
    .blogPost{
        border: 2px solid $robinEggBlue;
       
    }

    .blogComments{
        h4{
            padding-left: 40px;
        }
    }

}



















// desktop
@media (min-width: 1200px) {
    
    h1 {
        font-size: 13.8rem;
        line-height: 12.6rem;
    }
    
    h2 {
        font-size: 8rem;
        line-height: 9.2rem;
    }
    
    h3 {
        font-size: 4.2rem;
        text-align: center;
        letter-spacing: 1px;
    }
        
    h4 {
            font-size: 3.2rem;
            letter-spacing: 1px;
    }
        
    nav a {
            font-size: 3.2rem;
            text-align: center;
            line-height: 2.9rem;
            letter-spacing: 1px;
    }
        
    button {
            font-size: 2rem;
            text-align: center;
            line-height: 3.2rem;
            letter-spacing: 1px;
    }

}
