
@media(min-width: 1px) {
    nav ul {
        display: none;
    }
}

@media(min-width:767px){
    h1{
        width: 40%;
    }

    h3{
        font-size:3rem;
    }

    h4{
        font-size:2.5rem
    }

    nav ul {
        display: none;
    }

    .blogPostImg{
        top:-100px;
    }
    .blogPost{
        border: 2px solid $robinEggBlue;
    }

    .blogComments{
        h4{
            padding-left: 40px;
        }
    }

    .contactForm{
        top: -95px;
        margin:0
        
    }

    .contactContainer{
        ul{
            margin-top: 0;
        }
    }

}

@media(min-width:1023px) {


    
    h1{
        font-size: 13.8rem;
        line-height: 12.6rem;
    }

    h4 {
        margin: 20px 0;
    }

    p {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    nav ul {
        display: contents;
    }

    .mobileMenu {
        display: none;
    }

    // INDEX MEDIA QUERIS FOR LANDSCAPE

    .indexContainer {
        display: flex;
        align-items: flex-start;
        height: 80vh;

        .heroImg {
            align-self: flex-end;
        }
    }

    .about {
        padding: 10px 0;
    }

    .aboutContent {
        
        P {
        text-align: left;
        margin: 0 auto;
        max-width: 80%;
        }

        button {
            margin-top: 20px;
        }
    }

    .exhibitFlex1,
    .exhibitFlex2 {
        display: flex;

        .exContent1,
        .exContent2 {
            width: 70%;
        }
    }

    .exImg1 {
        position: relative;
        left: -3%;
    }

    .exImg2 {
        position: relative;
        right: -3%;
    }

    .exhibitFlex2 {
        flex-direction: row-reverse;

        .exContent2 {
            padding-right: 20px;
        }
    }

    .exImg1 {
        right: 10;
    }

    // change index blog references to preBlog...
    .blogPreImgLg{
        height:30%;
    }

    .blogPreFlex {
        display: flex; 
        align-items: center;
    }

    .blogPreImgSm {
        margin-right: 50px;
    }

    .blogPreContent {
        text-align: left;
        width: 90%;

        h3 {
            text-align: left;
        }
    }

    .galleryFlex {
        flex-direction: row;

        .galleryImg {
            margin: 10px 10px;
        }
    }

    // BLOG MEDIA QUERIES FOR LANDSCAPE

    .mainBlogContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .blogAside {
        position: inherit;
        width: 40%;

        i {
            display: none;
        }
    }

    .blogPost {
        max-width: 85%;
        margin: 0 0 40px 60px;
        img {
            box-shadow: -39px 39px 0 $robinEggBlue;
        }

    }

    .blogContent,
    .blogComments {
        padding: 0 25px;
    }

    nav a {
    font-size: 2.5rem;
    }

    // MEDIA QUERIES FOR CONTACT PAGE LANDSCAPE

    .contactHeader{
        margin-bottom: 5%;
    }

    .contactFlex{
        display: flex;
        flex-direction: row-reverse;
        

        h5{
            margin: 0;
            font-size: 2rem;
        }
        p{
            font-size: 1.6rem;
            line-height: 1.2;
        }

        ul{
            margin: 0;
        }

        .contactForm{
            left:40px;
            display: flex;
            flex-wrap: wrap;
            text-align: justify;
            input{
                width: calc(50% - 10px);
            }
        }
            
            
            

        .contactContainer{
            text-align: left;
            ul{
                justify-content: flex-start;

                a{
                    padding-left: 0;
                }
                
            }
        }
    }
}

// Desktop breakpoint

@media(min-width:1200px){

    header{
        .heroImg{
            right: -10%;
        }
    }
    .info{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10%;
    }
    .infoFlex{
        width:calc(50% - 20px)
    }
    .blogPreImgSm{
        top: -100px;
        img{
            width: 100%;
        }
    }
}

    





















// desktop
@media (min-width: 1200px) {
    
    h1 {
        font-size: 13.8rem;
        line-height: 12.6rem;
    }
    
    h2 {
        font-size: 8rem;
        line-height: 9.2rem;
    }
    
    h3 {
        font-size: 4.2rem;
        text-align: center;
        letter-spacing: 1px;
    }
        
    h4 {
            font-size: 3.2rem;
            letter-spacing: 1px;
    }
        
    nav a {
            font-size: 3.2rem;
            text-align: center;
            line-height: 2.9rem;
            letter-spacing: 1px;
    }
        
    button {
            font-size: 2rem;
            text-align: center;
            line-height: 3.2rem;
            letter-spacing: 1px;
    }

}
