nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

nav li {
    margin-left: 20px;
    text-transform: uppercase;
    
    a {
        padding: 30px 0 0 20px;
        
        &:hover,
        &:active {
            color: $robinEggBlue;
        }
    }

}

.toggle i {
    font-size: 3rem;
}

input[type="checkbox"]:checked + ul{
    right:0;
}
input[type="checkbox"]{
    display:none;
}


