@import 'setup';
@import 'body';
@import 'nav';
@import 'indexHeader';
@import 'about';
@import 'exhibits';
@import 'info';
@import 'blogPrev';
@import 'gallery';
@import 'footer';
@import 'blogHeader';
@import 'blogPost';