html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background: #0c1423;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: none;
  margin: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
button {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 6.5rem;
  line-height: 6rem;
  padding: 50px;
  text-align: left;
  margin: 0;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  font-size: 2rem;
  letter-spacing: 1px;
}

nav a {
  font-size: 3.2rem;
  text-align: center;
  line-height: 2.9rem;
  letter-spacing: 1px;
}

button {
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 1px;
  padding: .5rem 1.5rem;
  border: none;
}

nav {
  text-align: right;
}

nav ul {
  display: none;
}

.mobileMenu i {
  font-size: 3rem;
}

header {
  background: url(../../assets/header-image.jpg) center/cover;
  height: 80vh;
  margin-bottom: 100px;
}

header img {
  position: relative;
  right: -19px;
}

.about {
  padding: 10% 0;
}

.about .aboutContent p {
  text-align: justify;
}

.about .aboutContent button {
  background-color: #86E0F9;
}

.exhibits {
  background-color: #0F614E;
  padding-bottom: 10%;
}

.exhibits .exhibitFlex1 {
  text-align: left;
  margin-bottom: 5%;
}

.exhibits .exhibitFlex1 img {
  -webkit-box-shadow: 20px 20px 0 #86E0F9;
          box-shadow: 20px 20px 0 #86E0F9;
  position: relative;
  top: -25px;
  left: -18px;
}

.exhibits .exhibitFlex2 {
  text-align: right;
}

.exhibits .exhibitFlex2 img {
  -webkit-box-shadow: -20px 20px 0  #86E0F9;
          box-shadow: -20px 20px 0  #86E0F9;
  position: relative;
  right: -18px;
}

.exhibits button {
  background-color: #0C1423;
  color: #FFF;
}

.infoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-right: 20px;
}

.infoFlex .infoIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #86e0f9;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-top: 20px;
}

.infoFlex .infoIcon i {
  color: #0c1423;
}

.infoFlex .infoContent {
  margin-left: 15px;
}

.blogPreview {
  margin-bottom: 10%;
}

.blogPreImgLg {
  height: 30vh;
}

.blogPreImgLg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogPreImgSm {
  width: 40%;
  height: 40%;
  -webkit-box-shadow: 20px 20px 0 #86E0f9;
          box-shadow: 20px 20px 0 #86E0f9;
  position: relative;
  top: -22px;
}

.blogPreContent p {
  text-align: justify;
}

.blogPreContent button {
  background-color: #86e0f9;
}

.gallery {
  background-color: #0F614e;
  padding: 10% 0;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryImg {
  width: 90%;
  margin: 10px 0;
}

footer {
  height: 40px;
  background-color: #86e0f9;
}

footer p {
  margin: 0 auto;
  padding: 10px 0;
}

.blogHeader {
  background-image: url(../../assets/blog-header.jpg);
  height: 80vh;
  margin-bottom: 10%;
}

.blogTitle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogPost {
  border-left: 2px solid #86E0F9;
  border-bottom: 2px solid #86E0F9;
}

.blogPostImg {
  position: relative;
  top: -65px;
  right: -19px;
}

.blogPostImg img {
  -webkit-box-shadow: -21px 21px 0 #86E0F9;
          box-shadow: -21px 21px 0 #86E0F9;
}

.blogContent {
  text-align: left;
  padding: 0 0 5px 20px;
}

.blogContent .dateName {
  margin-top: 5px;
  text-transform: capitalize;
}

.blogContent h3 {
  text-align: left;
  margin: 0;
}
